@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

.Dropdown-option {
  border-top: 1px solid #374151;
  padding: 3px 0;
}

.Dropdown-option:last-child {
  border-bottom: 1px solid #374151;
}
